<style>
    div{
        text-align: center;
    }
</style>
<div>
    <h1>List Tasks</h1>
    <table class="center">
        <tr>
            <th>SNo.</th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Install Git</td>
            <td>Pending</td>
            <td><a routerLink="/edittask">edit</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>Install node js</td>
            <td>Pending</td>
            <td><a routerLink="/edittask">edit</a></td>
        </tr>

        <tr>
            <td>3</td>
            <td>Install VS Code</td>
            <td>Pending</td>
            <td><a routerLink="/edittask">edit</a></td>
        </tr>

        <tr>
            <td>4</td>
            <td>Install VPN</td>
            <td>Pending</td>
            <td><a routerLink="/edittask">edit</a></td>
        </tr>
    </table>
</div>